snippet todo "Inserts a TODO comment"
# TODO: $1 ( `date +%d/%m/%Y` `date +%H:%M` )
endsnippet

snippet main "Inserts the standard main guard into Python"
def main():
    $1

if __name__ == "__main__":
    main()
endsnippet
